body{
    margin:0%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.full{
    display: flex;
    font
}
.left{
    background-color: #CABAAB;
    width: 60%;
    padding: 30px;
    color: #202731;
}
.right{
    background-color:#202731 ;
    width: 40%;
    padding: 30px;
    color:white;
}
footer{
    justify-content: center;
    padding-left: 60%;
}